input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hero {
  font-size: 0.85rem;
}

.hero .container {
  display: block;
  margin: 1rem;
}

.hero .container .crypto-price {
  background: #2f3045;
  border-radius: 0.3rem;
  margin: auto;
}

.hero .container .crypto-price .price-title {
  color: white;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: title;
  background: #1f1f2c;
  border-radius: 0.3rem 0.3rem 0 0;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.3rem 0.5rem;
}

.hero .container .crypto-price .price-content {
  display: flex;
}

.hero .container .crypto-price .price-content ul {
  padding: 0.3rem 0.5rem;
  margin: auto;
  display: grid;
      grid-template-areas: 'title title title title title title title title title title title title' 'btc btc-price doge doge-price eth eth-price bnb bnb-price matic matic-price rlt rlt-price';
  -ms-grid-columns: fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%);
      grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%);
}

.hero .container .crypto-price .price-content ul li {
  list-style: none;
  color: white;
}

.hero .container .crypto-price .price-content ul .price-btc {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: btc;
  color: #fb9135;
  padding: 0.5rem 0.2rem 0.5rem 0.5rem;
}

.hero .container .crypto-price .price-content ul .price-btc-price {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: btc-price;
  padding: 0.5rem 0.35rem 0.5rem 0.2rem;
}

.hero .container .crypto-price .price-content ul .price-doge {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: doge;
  color: #c4a443;
  padding: 0.5rem 0.2rem 0.5rem 0.35rem;
}

.hero .container .crypto-price .price-content ul .price-doge-price {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: doge-price;
  padding: 0.5rem 0.35rem 0.5rem 0.2rem;
}

.hero .container .crypto-price .price-content ul .price-eth {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: eth;
  color: #9782fa;
  padding: 0.5rem 0.2rem 0.5rem 0.35rem;
}

.hero .container .crypto-price .price-content ul .price-eth-price {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: eth-price;
  padding: 0.5rem 0.35rem 0.5rem 0.2rem;
}

.hero .container .crypto-price .price-content ul .price-rlt {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
  grid-area: rlt;
  color: #00e2e3;
  padding: 0.5rem 0.2rem 0.5rem 0.35rem;
}

.hero .container .crypto-price .price-content ul .price-rlt-price {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
  grid-area: rlt-price;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;
}

.hero .container .crypto-price .price-content ul .price-bnb {
  -ms-grid-row: 2;
  -ms-grid-column: 9;
  grid-area: bnb;
  color: #CCFF00;
  padding: 0.5rem 0.2rem 0.5rem 0.35rem;
}

.hero .container .crypto-price .price-content ul .price-bnb-price {
  -ms-grid-row: 2;
  -ms-grid-column: 10;
  grid-area: bnb-price;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;
}

.hero .container .crypto-price .price-content ul .price-matic {
  -ms-grid-row: 2;
  -ms-grid-column: 11;
  grid-area: matic;
  color: #5530ac;
  padding: 0.5rem 0.2rem 0.5rem 0.35rem;
}

.hero .container .crypto-price .price-content ul .price-matic-price {
  -ms-grid-row: 2;
  -ms-grid-column: 12;
  grid-area: matic-price;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;
}

.hero .tabs-layout {
  margin: 1rem auto;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.hero .tabs-layout .tabs-header {
  margin: 0;
  padding: 0;
  background: #1f1f2c;
  border-radius: 0.3rem;
}

.hero .tabs-layout .tabs-header .data-tab-btn {
  padding: 0.5rem 1rem;
  background: #6e6b8f;
  border: none;
  color: white;
  font-family: 'Poppins';
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.3em 0.3em 0 0;
}

.hero .tabs-layout .tabs-header .data-tab-btn:hover {
  font-weight: bold;
}

.hero .tabs-layout .tabs-header .results-tab-btn {
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  color: white;
  font-family: 'Poppins';
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 0.3em 0.3em 0 0;
}

.hero .tabs-layout .tabs-header .results-tab-btn:hover {
  font-weight: bold;
}

.hero .tabs-layout .tab1-content {
  background: #6e6b8f;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'rate dis' 'net blreward';
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.hero .tabs-layout .tab1-content .box {
  padding: 0.5rem;
}

.hero .tabs-layout .tab1-content .box-title {
  background: #1f1f2c;
  padding: 0.3rem 0.5rem;
  color: white;
  border-radius: 0.3rem 0.3rem 0 0;
  font-weight: bold;
}

.hero .tabs-layout .tab1-content table {
  padding: 0.5rem;
  color: white;
  margin: auto;
}

.hero .tabs-layout .tab1-content table td {
  padding: 0.2rem 0.2rem;
}

.hero .tabs-layout .tab1-content table .td-btc {
  color: #fb9135;
}

.hero .tabs-layout .tab1-content table .td-doge {
  color: #c4a443;
}

.hero .tabs-layout .tab1-content table .td-eth {
  color: #9782fa;
}

.hero .tabs-layout .tab1-content table .td-bnb {
  color: #CCFF00;
}

.hero .tabs-layout .tab1-content table .td-matic {
  color: #5530ac;
}

.hero .tabs-layout .tab1-content table .td-rlt {
  color: #00e2e3;
}

.hero .tabs-layout .tab1-content .no-input {
  text-align: right;
}

.hero .tabs-layout .tab1-content .input-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
  width: 100%;
  background: #6e6b8f;
  border-radius: 0.2em;
  color: white;
  border: none;
  padding: 0.2em;
}

.hero .tabs-layout .tab1-content .box-content {
  background: #2f3045;
  border-radius: 0 0 0.3rem 0.3rem;
}

.hero .tabs-layout .tab2-content {
  display: none;
  color: white;
  border-radius: 0 0 0.3em 0.3em;
  background: #6e6b8f;
  padding: 0.1rem 0;
}

.hero .tabs-layout .tab2-content .coin-box {
  margin: 0.5rem;
  border-radius: 0.3rem;
}

.hero .tabs-layout .tab2-content .box-title {
  padding: 0.3rem 0.5rem;
  background: #1f1f2c;
  border-bottom: none;
  font-weight: bold;
  border-radius: 0.3em 0.3em 0 0;
  text-align: center;
}

.hero .tabs-layout .tab2-content .btc-box {
  background: #382516;
}

.hero .tabs-layout .tab2-content .btc-box .table-headers {
  font-weight: bold;
  color: #fb9135;
}

.hero .tabs-layout .tab2-content .doge-box {
  background: #38321d;
}

.hero .tabs-layout .tab2-content .doge-box .table-headers {
  font-weight: bold;
  color: #c4a443;
}

.hero .tabs-layout .tab2-content .eth-box {
  background: #2d1e39;
}

.hero .tabs-layout .tab2-content .eth-box .table-headers {
  font-weight: bold;
  color: #9782fa;
}

.hero .tabs-layout .tab2-content .bnb-box {
  background: #515024;
}

.hero .tabs-layout .tab2-content .bnb-box .table-headers {
  font-weight: bold;
  color: #CCFF00;
}

.hero .tabs-layout .tab2-content .matic-box {
  background: #5550a6;
}

.hero .tabs-layout .tab2-content .matic-box .table-headers {
  font-weight: bold;
  color: #2a1eee;
}

.hero .tabs-layout .tab2-content .rlt-box {
  background: #173333;
}

.hero .tabs-layout .tab2-content .rlt-box .table-headers {
  font-weight: bold;
  color: #00e2e3;
}

.hero .tabs-layout .tab2-content table {
  width: 100%;
  border-collapse: collapse;
}

.hero .tabs-layout .tab2-content table td {
  width: 33.333333%;
  text-align: center;
  font-size: 0.9em;
  padding: 0.2em 0.4em;
  vertical-align: center;
}

@media only screen and (min-width: 750px) {
  .hero .container {
    display: block;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero .container .crypto-price {
    margin: 0 1rem;
  }
  .hero .container .tabs-layout {
    background: none;
    margin: 0;
    padding: 0 1rem;
  }
  .hero .container .tabs-layout .tabs-header {
    display: none;
  }
  .hero .container .tabs-layout .tab1-content {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 0.5rem;
            column-gap: 0.5rem;
    padding: 0.7rem 0;
  }
  .hero .container .tabs-layout .tab1-content .box {
    padding: 0;
    width: 100%;
  }
  .hero .container .tabs-layout .tab2-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: none;
    padding: 0;
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 0.5rem;
            column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
  .hero .container .tabs-layout .tab2-content .coin-box {
    width: 49.4%;
    padding: 0;
    margin: 0;
  }
  .hero .container .info {
    margin: 0 1rem;
    -ms-flex-item-align: middl;
        -ms-grid-row-align: middl;
        align-self: middl;
  }
  .hero .container .info p {
    color: white;
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=home.css.map */